
// Font sizes
$font-size-main: 14px;
$font-size-h1: 22px;
$font-size-h2: 20px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 14px;
$font-size-h6: 12px;
$font-size-small: 12px;

// Gutter sizes
$gutter-extra-small: 2px;
$gutter-small: 5px;
$gutter: 10px;
$gutter-large: 20px;
$gutter-extra-large: 40px;

// Screen sizes
$site-width-mobile: 568px; //iphone 5 in landscape
$site-width-tablet: 768px; // tablets in portrait and 7 inch class tablets
$site-width-desktop-small: 960px; // tablets and older laptops
$site-width-desktop-medium: 1200px;

// Keyframes animations
@keyframes popIn {
	0% { opacity: 0; transform: scale(0.1); }
	100% { opacity: 1; transform: scale(1); }
}
@-webkit-keyframes popIn {
	0% { opacity: 0; -webkit-transform: scale(0.1); }
	100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes popIn {
	0% { opacity: 0; -moz-transform: scale(0.1); }
	100% { opacity: 1; -moz-transform: scale(1); }
}
@mixin popIn ($delay: 0.3s) {
	animation-fill-mode: forwards;
	animation: popIn $delay;
	-webkit-animation: popIn $delay;
	-moz-animation: popIn $delay;
	-ms-animation: popIn $delay;
}

@keyframes popOut {
	0% { opacity: 1; transform: scale(1); }
	100% { opacity: 0; transform: scale(0.1); }
}
@-webkit-keyframes popOut {
	0% { opacity: 1; transform: scale(1); }
	100% { opacity: 0; transform: scale(0.1); }
}
@-moz-keyframes popOut {
	0% { opacity: 1; transform: scale(1); }
	100% { opacity: 0; transform: scale(0.1); }
}
@mixin popOut ($delay: 0.3s) {
	animation-fill-mode: forwards;
	animation: popOut $delay;
	-webkit-animation: popOut $delay;
	-moz-animation: popOut $delay;
	-ms-animation: popOut $delay;
}
