
// Font sizes
$font-size-main: 14px;
$font-size-h1: 22px;
$font-size-h2: 20px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 14px;
$font-size-h6: 12px;
$font-size-small: 12px;

// Gutter sizes
$gutter-extra-small: 2px;
$gutter-small: 5px;
$gutter: 10px;
$gutter-large: 20px;
$gutter-extra-large: 40px;

// Screen sizes
$site-width-mobile: 568px; //iphone 5 in landscape
$site-width-tablet: 768px; // tablets in portrait and 7 inch class tablets
$site-width-desktop-small: 960px; // tablets and older laptops
$site-width-desktop-medium: 1200px;
