@import '../../stylesheets/_main.scss';

.Content {

	&__Wrapper {
		display: flex;
		justify-content: center;
	}

	&__Container {
		display: flex;
		flex: 0 1 700px;
		justify-content: space-around;
		
		margin: 0 $gutter-large;
		flex-wrap: wrap;
	}

	&__Avatar {
		background-size: 100%;
		width: 150px;
		height: 150px;
		margin: $gutter;
	}
}
