@import '../../stylesheets/_main.scss';

.Header {

	&__Wrapper {
		display: flex;
		justify-content: center;
	}

	&__Container {
		display: flex;
		flex: 0 1 900px;
		justify-content: space-between;
		align-items: center;

		margin: 0 $gutter-extra-large;
		height: 100px;
		font-weight: bold;
	}

	&__Logo {
		background-image: url('/app/images/Logo.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100px;
		height: 100px;
	}

	&__Tabs {
		display: flex;
		flex: 0 1 350px;
		justify-content: space-between;

		&--child {
			margin: 0 $gutter;

			&:hover {
				cursor: pointer;
			}
		}
	}
}
