@import '../../../stylesheets/_main.scss';

.Content {

	&__Wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__Container {
		display: flex;
		max-width: 700px;
		justify-content: space-around;

		margin: 0 $gutter-large;
		flex-wrap: wrap;
	}

	&__Avatar {
		background-size: 100%;
		width: 150px;
		height: 150px;
		margin: $gutter;

		&:hover {
			cursor: pointer;
		}
	}
}
