@import '../../../stylesheets/_main.scss';

.Masonry {

	&__Container {
		width: 320px;

		@media (min-width: $site-width-mobile) {
			width: 568px;
		}

		@media (min-width: $site-width-tablet) {
			width: 768px;
		}

		@media (min-width: $site-width-desktop-small) {
			width: 960px;
		}

		@media (min-width: $site-width-desktop-medium) {
			width: 1200px;
		}
	}

	&__Item {
		margin: $gutter-small;
	}
}
